*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 1rem;
}


@media (min-width:540px) and (max-width:1023px) {
 html {
  font-size: 0.9rem;
 }
}

@media (min-width:1024px) and (max-width:1279px) {
 html {
  font-size: 1.20rem;
 }
}

/* Define max font size and viewport */
@media (min-width:1280px) {
 html {
  font-size: 1.25rem;
 }
}