@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-light: #8a00d4;
    --text-color: #E3E3E3;
    --primary-button: #f782c2;
    --secondary-button: #d85ea1 ;
}


html {
    scroll-behavior: smooth;
    font-size: 1rem;
}

body {
    background: var(--bg-color-light);
    color: var(--text-color);

    font-family: 'Roboto', sans-serif;
}

h1{
    font-weight: 700;
}

h2{
    font-weight: 500;
}

.container {
    display: flex;
    justify-items: center;
    align-items: center;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.game__buttons{

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3rem;


}

.button{
    width: 150px;

    padding: 1rem 3rem;
    margin: .5rem;

    color: var(--text-color);

    background: var(--primary-button);

    border: none;
    border-radius: .625rem;

    transition: 0.4s ease;

    cursor: pointer;
}

.button:hover{
    background: var(--secondary-button);
}

.reset__button{
    background: #d527b7;
    color: var(--text-color);
}

.reset__button:hover{
    background: #f782c2;

}


/* Mobile first approach*/
@media (min-width:300px) and (max-width:740px) {
    html {
        font-size: 1.05rem;
    }

    .container {
        max-width: 95vw;
    }

    .game__buttons{
            flex-direction: column;
    }

}

@media (min-width:741px) and (max-width:1023px) {
    .game__buttons{
            flex-direction: row;
    }
}
@media (min-width:1024px) and (max-width:1279px) {
    html {
        font-size: 1.20rem;
    }

    .container {
        max-width: 80vw;
    }
}


@media (min-width:1280px) {
    html {
        font-size: 1.25rem;
    }

    .container {
        max-width: 75vw;
    }
}

footer{
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer > p {
    font-size: 1.25rem;
}

.dark-mode {
    background-color: rgb(36, 36, 36);
    color: var(--text-color);
}